.container{
    max-width:500px;
    margin-left:auto;
    margin-right:auto;
    padding:1em;
  }
  .contact form{
    display: block;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
  }